@page
@model RegisterEaspSepsModel
@{
    ViewData["Title"] = "ESAP/SEPS Registration";
}

<h2>ESAP/SEPS Registration</h2>
@if (Model.SuccessMessage != null)
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}

<form method="post">
    <div>
        <label asp-for="EaspSepsRegistration.AgencyName"></label>
        <input asp-for="EaspSepsRegistration.AgencyName" />
        <span asp-validation-for="EaspSepsRegistration.AgencyName"></span>
    </div>
    <div>
        <label asp-for="EaspSepsRegistration.AlternateName"></label>
        <input asp-for="EaspSepsRegistration.AlternateName" />
        <span asp-validation-for="EaspSepsRegistration.AlternateName"></span>
    </div>
    <div>
        <label asp-for="EaspSepsRegistration.County"></label>
        <select asp-for="EaspSepsRegistration.County" asp-items="Model.CountyList"></select>
        <span asp-validation-for="EaspSepsRegistration.County"></span>
    </div>
    <div>
        <label asp-for="EaspSepsRegistration.UniqueId"></label>
        <input asp-for="EaspSepsRegistration.UniqueId" />
        <span asp-validation-for="EaspSepsRegistration.UniqueId"></span>
    </div>
    <div>
        <label asp-for="EaspSepsRegistration.Address"></label>
        <input asp-for="EaspSepsRegistration.Address" />
        <span asp-validation-for="EaspSepsRegistration.Address"></span>
    </div>
    <div>
        <label asp-for="EaspSepsRegistration.Address2"></label>
        <input asp-for="EaspSepsRegistration.Address2" />
        <span asp-validation-for="EaspSepsRegistration.Address2"></span>
    </div>
    <div>
        <label asp-for="EaspSepsRegistration.City"></label>
        <input asp-for="EaspSepsRegistration.City" />
        <span asp-validation-for="EaspSepsRegistration.City"></span>
    </div>
    <div>
        <label asp-for="EaspSepsRegistration.State"></label>
        <input asp-for="EaspSepsRegistration.State" />
        <span asp-validation-for="EaspSepsRegistration.State"></span>
    </div>
    <div>
        <label asp-for="EaspSepsRegistration.Zip"></label>
        <input asp-for="EaspSepsRegistration.Zip" />
        <span asp-validation-for="EaspSepsRegistration.Zip"></span>
    </div>

    <div>
        <label>Agency/Facility Classification</label>
        <div>
            <input type="checkbox" asp-for="IsSyringeExchangeProgram" /> Syringe exchange program
        </div>
        <div>
            <input type="checkbox" asp-for="IsESAPTier1" /> ESAP Tier 1
        </div>
        <div>
            <input type="checkbox" asp-for="IsESAPTier2" /> ESAP Tier 2
        </div>
        <div>
            <input type="checkbox" asp-for="IsOther" id="IsOtherCheckbox" /> Other
            <input type="text" asp-for="OtherClassificationText" id="OtherClassificationText" placeholder="Please specify" />
        </div>
    </div>


    <h3>Agency Contacts/Users</h3>
    <div>
        <label asp-for="AgencyContact.ProgramDirector"></label>
        <input asp-for="AgencyContact.ProgramDirector" />
        <select asp-for="AgencyContact.SuffixId" asp-items="Model.SuffixList"></select>
        <span asp-validation-for="AgencyContact.ProgramDirector"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.Address"></label>
        <input asp-for="AgencyContact.Address" />
        <span asp-validation-for="AgencyContact.Address"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.Address2"></label>
        <input asp-for="AgencyContact.Address2" />
        <span asp-validation-for="AgencyContact.Address2"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.City"></label>
        <input asp-for="AgencyContact.City" />
        <span asp-validation-for="AgencyContact.City"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.State"></label>
        <input asp-for="AgencyContact.State" />
        <span asp-validation-for="AgencyContact.State"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.Zip"></label>
        <input asp-for="AgencyContact.Zip" />
        <span asp-validation-for="AgencyContact.Zip"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.Phone"></label>
        <input asp-for="AgencyContact.Phone" />
        <span asp-validation-for="AgencyContact.Phone"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.PhoneExtension"></label>
        <input asp-for="AgencyContact.PhoneExtension" />
        <span asp-validation-for="AgencyContact.PhoneExtension"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.AltPhone"></label>
        <input asp-for="AgencyContact.AltPhone" />
        <span asp-validation-for="AgencyContact.AltPhone"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.AltPhoneExtension"></label>
        <input asp-for="AgencyContact.AltPhoneExtension" />
        <span asp-validation-for="AgencyContact.AltPhoneExtension"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.Email"></label>
        <input asp-for="AgencyContact.Email" />
        <span asp-validation-for="AgencyContact.Email"></span>
    </div>
    <div>
        <label asp-for="AgencyContact.SameAddressAsAgency"></label>
        <input asp-for="AgencyContact.SameAddressAsAgency" type="checkbox" />
        <span asp-validation-for="AgencyContact.SameAddressAsAgency"></span>
    </div>

    <h3>Additional Users</h3>
    <div id="additional-users-container">
        @for (int i = 0; i < Model.AdditionalUsers.Count; i++)
        {
            <div class="additional-user">
                <div>
                    <select asp-for="AdditionalUsers[i].PrefixId" asp-items="Model.PrefixList"></select>
                    <label asp-for="AdditionalUsers[i].Name"></label>
                    <input asp-for="AdditionalUsers[i].Name" />
                    <select asp-for="AdditionalUsers[i].SuffixId" asp-items="Model.SuffixList"></select>
                    <span asp-validation-for="AdditionalUsers[i].Name"></span>
                </div>
                <div>
                    <label asp-for="AdditionalUsers[i].Title"></label>
                    <input asp-for="AdditionalUsers[i].Title" />
                    <span asp-validation-for="AdditionalUsers[i].Title"></span>
                </div>
                <div>
                    <label asp-for="AdditionalUsers[i].Address"></label>
                    <input asp-for="AdditionalUsers[i].Address" />
                    <span asp-validation-for="AdditionalUsers[i].Address"></span>
                </div>
                <div>
                    <label asp-for="AdditionalUsers[i].Address2"></label>
                    <input asp-for="AdditionalUsers[i].Address2" />
                    <span asp-validation-for="AdditionalUsers[i].Address2"></span>
                </div>
                <div>
                    <label asp-for="AdditionalUsers[i].City"></label>
                    <input asp-for="AdditionalUsers[i].City" />
                    <span asp-validation-for="AdditionalUsers[i].City"></span>
                </div>
                <div>
                    <label asp-for="AdditionalUsers[i].State"></label>
                    <input asp-for="AdditionalUsers[i].State" />
                    <span asp-validation-for="AdditionalUsers[i].State"></span>
                </div>
                <div>
                    <label asp-for="AdditionalUsers[i].Zip"></label>
                    <input asp-for="AdditionalUsers[i].Zip" />
                    <span asp-validation-for="AdditionalUsers[i].Zip"></span>
                </div>
                <div>
                    <label asp-for="AdditionalUsers[i].Phone"></label>
                    <input asp-for="AdditionalUsers[i].Phone" />
                    <span asp-validation-for="AdditionalUsers[i].Phone"></span>
                </div>
                <div>
                    <label asp-for="AdditionalUsers[i].Email"></label>
                    <input asp-for="AdditionalUsers[i].Email" />
                    <span asp-validation-for="AdditionalUsers[i].Email"></span>
                </div>
                <div>
                    <label asp-for="AdditionalUsers[i].SameAddressAsAgency"></label>
                    <input asp-for="AdditionalUsers[i].SameAddressAsAgency" type="checkbox" />
                    <span asp-validation-for="AdditionalUsers[i].SameAddressAsAgency"></span>
                </div>
            </div>
        }
    </div>
    <button type="button" id="add-additional-user">Add Additional User</button>

    <h3>Counties Served by the Agency</h3>
    @for (int i = 0; i < Model.CountiesServed.Count; i++)
    {
        <div>
            <label asp-for="CountiesServed[i]"></label>
            <select asp-for="CountiesServed[i]" asp-items="Model.CountyList"></select>
        </div>
    }

    <h3>Shipping Information</h3>
    <div>
        <label asp-for="ShipInformation.ShipToName"></label>
        <input asp-for="ShipInformation.ShipToName" />
        <span asp-validation-for="ShipInformation.ShipToName"></span>
    </div>
    <div>
        <label asp-for="ShipInformation.ShipToEmail"></label>
        <input asp-for="ShipInformation.ShipToEmail" />
        <span asp-validation-for="ShipInformation.ShipToEmail"></span>
    </div>
    <div>
        <label asp-for="ShipInformation.ShipToAddress"></label>
        <input asp-for="ShipInformation.ShipToAddress" />
        <span asp-validation-for="ShipInformation.ShipToAddress"></span>
    </div>
    <div>
        <label asp-for="ShipInformation.ShipToAddress2"></label>
        <input asp-for="ShipInformation.ShipToAddress2" />
        <span asp-validation-for="ShipInformation.ShipToAddress2"></span>
    </div>
    <div>
        <label asp-for="ShipInformation.ShipToCity"></label>
        <input asp-for="ShipInformation.ShipToCity" />
        <span asp-validation-for="ShipInformation.ShipToCity"></span>
    </div>
    <div>
        <label asp-for="ShipInformation.ShipToState"></label>
        <input asp-for="ShipInformation.ShipToState" />
        <span asp-validation-for="ShipInformation.ShipToState"></span>
    </div>
    <div>
        <label asp-for="ShipInformation.ShipToZip"></label>
        <input asp-for="ShipInformation.ShipToZip" />
        <span asp-validation-for="ShipInformation.ShipToZip"></span>
    </div>
    <div>
        <label asp-for="ShipInformation.SameAsSite"></label>
        <input asp-for="ShipInformation.SameAsSite" type="checkbox" />
        <span asp-validation-for="ShipInformation.SameAsSite"></span>
    </div>
    <button type="button" id="add-additional-ship-to-site">Add Additional Ship to Site</button>

    <div id="additional-ship-to-sites-container">
        @for (int i = 0; i < Model.AdditionalShipToSites.Count; i++)
        {
            <div class="additional-ship-to-site">
                <h4>Additional Ship to Site @i</h4>
                <div>
                    <label asp-for="AdditionalShipToSites[i].Name"></label>
                    <input asp-for="AdditionalShipToSites[i].Name" />
                    <span asp-validation-for="AdditionalShipToSites[i].Name"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].Address"></label>
                    <input asp-for="AdditionalShipToSites[i].Address" />
                    <span asp-validation-for="AdditionalShipToSites[i].Address"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].Address2"></label>
                    <input asp-for="AdditionalShipToSites[i].Address2" />
                    <span asp-validation-for="AdditionalShipToSites[i].Address2"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].City"></label>
                    <input asp-for="AdditionalShipToSites[i].City" />
                    <span asp-validation-for="AdditionalShipToSites[i].City"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].State"></label>
                    <input asp-for="AdditionalShipToSites[i].State" />
                    <span asp-validation-for="AdditionalShipToSites[i].State"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].Zip"></label>
                    <input asp-for="AdditionalShipToSites[i].Zip" />
                    <span asp-validation-for="AdditionalShipToSites[i].Zip"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].Phone"></label>
                    <input asp-for="AdditionalShipToSites[i].Phone" />
                    <span asp-validation-for="AdditionalShipToSites[i].Phone"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].PhoneExtension"></label>
                    <input asp-for="AdditionalShipToSites[i].PhoneExtension" />
                    <span asp-validation-for="AdditionalShipToSites[i].PhoneExtension"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].SiteType">Site Type</label>
                    <input type="radio" asp-for="AdditionalShipToSites[i].SiteType" value="Business" /> Business
                    <input type="radio" asp-for="AdditionalShipToSites[i].SiteType" value="Personal" /> Personal
                    <span asp-validation-for="AdditionalShipToSites[i].SiteType"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].ShipToName"></label>
                    <input asp-for="AdditionalShipToSites[i].ShipToName" />
                    <span asp-validation-for="AdditionalShipToSites[i].ShipToName"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].ShipToEmail"></label>
                    <input asp-for="AdditionalShipToSites[i].ShipToEmail" />
                    <span asp-validation-for="AdditionalShipToSites[i].ShipToEmail"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].ShipToAddress"></label>
                    <input asp-for="AdditionalShipToSites[i].ShipToAddress" />
                    <span asp-validation-for="AdditionalShipToSites[i].ShipToAddress"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].ShipToAddress2"></label>
                    <input asp-for="AdditionalShipToSites[i].ShipToAddress2" />
                    <span asp-validation-for="AdditionalShipToSites[i].ShipToAddress2"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].ShipToCity"></label>
                    <input asp-for="AdditionalShipToSites[i].ShipToCity" />
                    <span asp-validation-for="AdditionalShipToSites[i].ShipToCity"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].ShipToState"></label>
                    <input asp-for="AdditionalShipToSites[i].ShipToState" />
                    <span asp-validation-for="AdditionalShipToSites[i].ShipToState"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].ShipToZip"></label>
                    <input asp-for="AdditionalShipToSites[i].ShipToZip" />
                    <span asp-validation-for="AdditionalShipToSites[i].ShipToZip"></span>
                </div>
                <div>
                    <label asp-for="AdditionalShipToSites[i].SameAsSite"></label>
                    <input asp-for="AdditionalShipToSites[i].SameAsSite" type="checkbox" />
                    <span asp-validation-for="AdditionalShipToSites[i].SameAsSite"></span>
                </div>
                <div>
                    <label>Primary Counties Served by Site</label>
                    @for (int j = 0; j < 5; j++)
                    {
                        <select asp-for="ShipToSiteCounties[i][j]" asp-items="Model.CountyList"></select>
                    }
                </div>
            </div>
        }
    </div>

    <button type="submit">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("IsOtherCheckbox").addEventListener("change", function () {
            var otherText = document.getElementById("OtherClassificationText");
            otherText.disabled = !this.checked;
            otherText.required = this.checked;
            if (!this.checked) {
                otherText.value = "";
            }
        });
        // Ensure the initial state is correctly set
        window.addEventListener("load", function () {
            var otherCheckbox = document.getElementById("IsOtherCheckbox");
            var otherText = document.getElementById("OtherClassificationText");
            otherText.disabled = !otherCheckbox.checked;
            otherText.required = otherCheckbox.checked;
            if (!otherCheckbox.checked) {
                otherText.value = "";
            }
        });

            const countyList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CountyList));
        console.log("countyList:", countyList); // Debug log

        document.getElementById("add-additional-ship-to-site").addEventListener("click", function () {
            console.log("Add Additional Ship to Site button clicked"); // Debug log
            const container = document.getElementById("additional-ship-to-sites-container");
            const index = container.children.length;
            console.log("Current number of additional ship to sites:", index); // Debug log

            if (index < 2) { // Limit to 2 additional ship-to sites
                const newShipToSite = document.createElement("div");
                newShipToSite.classList.add("additional-ship-to-site");
                newShipToSite.innerHTML = `
                    <h4>Additional Ship to Site ${index + 1}</h4>
                    <div>
                        <label for="AdditionalShipToSites_${index}__Name">Name</label>
                        <input type="text" id="AdditionalShipToSites_${index}__Name" name="AdditionalShipToSites[${index}].Name" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__Address">Address</label>
                        <input type="text" id="AdditionalShipToSites_${index}__Address" name="AdditionalShipToSites[${index}].Address" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__Address2">Address2</label>
                        <input type="text" id="AdditionalShipToSites_${index}__Address2" name="AdditionalShipToSites[${index}].Address2" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__City">City</label>
                        <input type="text" id="AdditionalShipToSites_${index}__City" name="AdditionalShipToSites[${index}].City" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__State">State</label>
                        <input type="text" id="AdditionalShipToSites_${index}__State" name="AdditionalShipToSites[${index}].State" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__Zip">Zip</label>
                        <input type="text" id="AdditionalShipToSites_${index}__Zip" name="AdditionalShipToSites[${index}].Zip" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__Phone">Phone</label>
                        <input type="text" id="AdditionalShipToSites_${index}__Phone" name="AdditionalShipToSites[${index}].Phone" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__PhoneExtension">Phone Extension</label>
                        <input type="text" id="AdditionalShipToSites_${index}__PhoneExtension" name="AdditionalShipToSites[${index}].PhoneExtension" />
                    </div>
                    <div>
                    <label for="AdditionalShipToSites_${index}__SiteType">Site Type</label>
                    <input type="radio" id="AdditionalShipToSites_${index}__SiteType_Business" name="AdditionalShipToSites[${index}].SiteType" value="Business" /> Business
                    <input type="radio" id="AdditionalShipToSites_${index}__SiteType_Personal" name="AdditionalShipToSites[${index}].SiteType" value="Personal" /> Personal
                </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__ShipToName">Ship To Name</label>
                        <input type="text" id="AdditionalShipToSites_${index}__ShipToName" name="AdditionalShipToSites[${index}].ShipToName" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__ShipToEmail">Ship To Email</label>
                        <input type="text" id="AdditionalShipToSites_${index}__ShipToEmail" name="AdditionalShipToSites[${index}].ShipToEmail" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__ShipToAddress">Ship To Address</label>
                        <input type="text" id="AdditionalShipToSites_${index}__ShipToAddress" name="AdditionalShipToSites[${index}].ShipToAddress" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__ShipToAddress2">Ship To Address2</label>
                        <input type="text" id="AdditionalShipToSites_${index}__ShipToAddress2" name="AdditionalShipToSites[${index}].ShipToAddress2" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__ShipToCity">Ship To City</label>
                        <input type="text" id="AdditionalShipToSites_${index}__ShipToCity" name="AdditionalShipToSites[${index}].ShipToCity" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__ShipToState">Ship To State</label>
                        <input type="text" id="AdditionalShipToSites_${index}__ShipToState" name="AdditionalShipToSites[${index}].ShipToState" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__ShipToZip">Ship To Zip</label>
                        <input type="text" id="AdditionalShipToSites_${index}__ShipToZip" name="AdditionalShipToSites[${index}].ShipToZip" />
                    </div>
                    <div>
                        <label for="AdditionalShipToSites_${index}__SameAsSite">Same As Site</label>
                        <input type="checkbox" id="AdditionalShipToSites_${index}__SameAsSite" name="AdditionalShipToSites[${index}].SameAsSite" />
                    </div>
                   <div>
                        <label>Primary Counties Served by Site</label>
                        ${Array.from({ length: 5 }).map((_, j) => `
                            <select id="ShipToSiteCounties_${index}__${j}" name="ShipToSiteCounties[${index}][${j}]">
                                ${countyList.map(county => `
                                    <option value="${county.Value}">${county.Text}</option>
                                `).join('')}
                            </select>
                        `).join('')}
                    </div>
                `;
                container.appendChild(newShipToSite);
                console.log("Added new ship to site:", newShipToSite); // Debug log


                //document.querySelector(`#AdditionalShipToSites_${index}__SameAsSite`).addEventListener("change", function () {
                //    if (this.checked) {
                //        document.querySelector(`#AdditionalShipToSites_${index}__ShipToAddress`).value = document.querySelector('[name="EaspSepsRegistration.Address"]').value;
                //        document.querySelector(`#AdditionalShipToSites_${index}__ShipToAddress2`).value = document.querySelector('[name="EaspSepsRegistration.Address2"]').value;
                //        document.querySelector(`#AdditionalShipToSites_${index}__ShipToCity`).value = document.querySelector('[name="EaspSepsRegistration.City"]').value;
                //        document.querySelector(`#AdditionalShipToSites_${index}__ShipToState`).value = document.querySelector('[name="EaspSepsRegistration.State"]').value;
                //        document.querySelector(`#AdditionalShipToSites_${index}__ShipToZip`).value = document.querySelector('[name="EaspSepsRegistration.Zip"]').value;
                //    }
                //});
            } else {
                alert("You can only add up to 2 additional ship to sites.");
            }
        });


        // script for additional users
        let additionalUserIndex = @Model.AdditionalUsers.Count;

        document.getElementById("add-additional-user").addEventListener("click", function () {
            if (additionalUserIndex >= 5) return;

            const container = document.getElementById("additional-users-container");
            const newUser = document.createElement("div");
            newUser.classList.add("additional-user");
            newUser.innerHTML = `
                            <div>
                                <select id="AdditionalUsers_${additionalUserIndex}__PrefixId" name="AdditionalUsers[${additionalUserIndex}].PrefixId">
                                    @foreach(var prefix in Model.PrefixList){
                                        <option value="@prefix.Value">@prefix.Text</option>
                                    }
                                </select>
                                <label for="AdditionalUsers_${additionalUserIndex}__Name">Name</label>
                                <input type="text" id="AdditionalUsers_${additionalUserIndex}__Name" name="AdditionalUsers[${additionalUserIndex}].Name" />
                                <select id="AdditionalUsers_${additionalUserIndex}__SuffixId" name="AdditionalUsers[${additionalUserIndex}].SuffixId">
                                    @foreach(var suffix in Model.SuffixList){
                                        <option value="@suffix.Value">@suffix.Text</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].Name"></span>
                            </div>
                            <div>
                                <label for="AdditionalUsers_${additionalUserIndex}__Title">Title</label>
                                <input type="text" id="AdditionalUsers_${additionalUserIndex}__Title" name="AdditionalUsers[${additionalUserIndex}].Title" />
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].Title"></span>
                            </div>
                            <div>
                                <label for="AdditionalUsers_${additionalUserIndex}__Address">Address</label>
                                <input type="text" id="AdditionalUsers_${additionalUserIndex}__Address" name="AdditionalUsers[${additionalUserIndex}].Address" />
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].Address"></span>
                            </div>
                            <div>
                                <label for="AdditionalUsers_${additionalUserIndex}__Address2">Address2</label>
                                <input type="text" id="AdditionalUsers_${additionalUserIndex}__Address2" name="AdditionalUsers[${additionalUserIndex}].Address2" />
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].Address2"></span>
                            </div>
                            <div>
                                <label for="AdditionalUsers_${additionalUserIndex}__City">City</label>
                                <input type="text" id="AdditionalUsers_${additionalUserIndex}__City" name="AdditionalUsers[${additionalUserIndex}].City" />
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].City"></span>
                            </div>
                            <div>
                                <label for="AdditionalUsers_${additionalUserIndex}__State">State</label>
                                <input type="text" id="AdditionalUsers_${additionalUserIndex}__State" name="AdditionalUsers[${additionalUserIndex}].State" />
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].State"></span>
                            </div>
                            <div>
                                <label for="AdditionalUsers_${additionalUserIndex}__Zip">Zip</label>
                                <input type="text" id="AdditionalUsers_${additionalUserIndex}__Zip" name="AdditionalUsers[${additionalUserIndex}].Zip" />
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].Zip"></span>
                            </div>
                            <div>
                                <label for="AdditionalUsers_${additionalUserIndex}__Phone">Phone</label>
                                <input type="text" id="AdditionalUsers_${additionalUserIndex}__Phone" name="AdditionalUsers[${additionalUserIndex}].Phone" />
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].Phone"></span>
                            </div>
                            <div>
                                <label for="AdditionalUsers_${additionalUserIndex}__Email">Email</label>
                                <input type="text" id="AdditionalUsers_${additionalUserIndex}__Email" name="AdditionalUsers[${additionalUserIndex}].Email" />
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].Email"></span>
                            </div>
                            <div>
                                <label for="AdditionalUsers_${additionalUserIndex}__SameAddressAsAgency">Same Address As Agency</label>
                                <input type="checkbox" id="AdditionalUsers_${additionalUserIndex}__SameAddressAsAgency" name="AdditionalUsers[${additionalUserIndex}].SameAddressAsAgency" />
                                <span class="text-danger" asp-validation-for="AdditionalUsers[${additionalUserIndex}].SameAddressAsAgency"></span>
                            </div>
                        `;
            container.appendChild(newUser);
            additionalUserIndex++;
        });

        document.querySelector('input[name="ShipInformation.SameAsSite"]').addEventListener("change", function () {
            if (this.checked) {
                document.querySelector('input[name="ShipInformation.ShipToAddress"]').value = document.querySelector('[name="EaspSepsRegistration.Address"]').value;
                document.querySelector('input[name="ShipInformation.ShipToAddress2"]').value = document.querySelector('[name="EaspSepsRegistration.Address2"]').value;
                document.querySelector('input[name="ShipInformation.ShipToCity"]').value = document.querySelector('[name="EaspSepsRegistration.City"]').value;
                document.querySelector('input[name="ShipInformation.ShipToState"]').value = document.querySelector('[name="EaspSepsRegistration.State"]').value;
                document.querySelector('input[name="ShipInformation.ShipToZip"]').value = document.querySelector('[name="EaspSepsRegistration.Zip"]').value;
            }
        });
        document.querySelector('input[name="AgencyContact.SameAddressAsAgency"]').addEventListener("change", function () {
            if (this.checked) {
                document.querySelector('input[name="AgencyContact.ShipToAddress"]').value = document.querySelector('[name="EaspSepsRegistration.Address"]').value;
                document.querySelector('input[name="AgencyContact.ShipToAddress2"]').value = document.querySelector('[name="EaspSepsRegistration.Address2"]').value;
                document.querySelector('input[name="AgencyContact.ShipToCity"]').value = document.querySelector('[name="EaspSepsRegistration.City"]').value;
                document.querySelector('input[name="AgencyContact.ShipToState"]').value = document.querySelector('[name="EaspSepsRegistration.State"]').value;
                document.querySelector('input[name="AgencyContact.ShipToZip"]').value = document.querySelector('[name="EaspSepsRegistration.Zip"]').value;
            }
        });
    </script>
}
